@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Black.woff2") format("woff2"), url("/fonts/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

:root {
    --border-radius: 32px;
    --btn-radius: 16px;
    --btn-small-radius: 3px;
}

:focus {
    outline: 2px solid #FF9900;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFF;
    margin: 0 auto;
    max-width: 1920px;
}

h1 {
    margin-top: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: currentColor;
}

a:visited {
    color: currentColor;
}

.container {
    max-width: 100%;
    margin-left: 75px;
    margin-right: 75px;
}

.btn {
    width: 280px;
    height: 78px;
    font-size: 23px;
    font-weight: 700;
    color: inherit;
    background-color: #FF9900;
    border: none;
    border-radius: var(--btn-radius);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    outline: none;
    background: #FFB84D;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

.btn:active {
    background: #E1670E;
}

.title {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 400;
    color: #000000;
}

.title-small {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

/* Header 1920px*/
.burger {
    display: none;
}

.header {
    background-color: #FFFFFF;
}

.header-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 75px;
    padding-right: 75px;
    height: 100px;
    justify-content: space-between;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-logo {
    width: 225px;
    height: 72px;
}

.header-container,
.header-logo,
.header-nav,
.header-list {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    padding-left: 0;
}

.header-item{
    margin-left: 85px;
}

.header-item:last-child {
    margin-right: 85px;
}

.header-item {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.header-item-link:hover {
    border-bottom: 2px solid #FF9900;
    transition-property: color;
    transition-duration: 3s;
    transition-timing-function: linear;
}

.header-logo:focus,   
.header-item-link:focus {   
    outline: 2px solid #FF9900;
    transition-property: color;
    transition-duration: 3s;
    transition-timing-function: linear;         
}

.header-item-link:active {
    pointer-events: none;
    color: #FF9900;
    border-bottom: 2px solid #FF9900;
    transition-property: color;
    transition-duration: 3s;
    transition-timing-function: linear;
}

.header-search {
    width: 24px;
    height: 24px;
    margin-left: 175px;
    padding: 0;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.header-search:hover {
    stroke: #FF9900;
}

.header-search:focus {
    outline: 2px solid #FF9900;
}

/* Hero 1920px*/
.section-hero {
    margin-top: 50px;
}

.section-hero-backgraund {
    color: #FFFFFF;
    border-radius: var(--border-radius);
    background-image: url('/img/hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-hero-block {
    height: 100%;
    padding: 100px 80px;
}

.section-hero-title {
    max-width: 55%;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85.33px;
}

.section-hero-description {
    max-width: 50%;
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
}

/* About 1920px */
.section-about {
    margin-bottom: 100px;
}

.section-about-block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.section-about-description-main {
    padding-right: 535px;
}

.section-about-big {
    min-width: 49%;
    height: 622px;
    position: relative;
    background-image: url('/img/worker.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.section-about-big-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: #00000080;
    border-radius: var(--border-radius);
}

.section-about-description-big {
    margin: 50px;
    max-width: 52%;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.section-about-btn {
    height: 60px;
    width: 175px;
    margin: 68px 50px;
    border: 3px solid #FF9900;
    font-size: 16px;
    color: #FFFFFF;
    background: none;
}

.section-about-btn:hover,
.section-about-btn:focus {
    background: #FF9900;
    border: none;
}

.section-about-btn:active {
    background: #E1670E;
    border: none;
}

.section-about-small {
    max-width: 100%;
    height: 622px;
    margin-left: 32px;
    justify-content: space-between;
    box-sizing: border-box;
}

.section-about-elem:not(:last-child) {
    margin-bottom: 32px;
}

.section-about-elem {
    height: 295px;
    box-sizing: border-box;
    border: 1px solid #CACACA;
    border-radius: var(--border-radius);
    padding: 65px 120px 65px 300px;
}

.frame16,
.frame12 {
    background-image: url('/img/Frame12.svg');
    background-repeat: no-repeat;
    background-position: 60px 65px;
    background-size: 190px 165px;
}

.frame16 {
    background-image: url('/img/Frame16.svg');
}

.section-about-description-small {
    margin-top: 8px;
    margin-bottom: 0;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
}

/* How 1920px */
.section-how {
    margin-bottom: 100px;
}

.section-how-description {
    margin: 8px 0;
    max-width: 758px;
}

.section-how-list {
    padding-left: 0;
    margin-top: 45px;
    margin-bottom: 45px;
}

.section-how-item {
    display: inline;
    margin-right: 85px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
}

.section-how-item:hover {
    color: #FF9900;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.section-how-item:active {
    color: #E1670E;
}

.section-how-btn-details {
    color: #FFFFFF;
}

.section-how-btn:hover,
.section-how-btn:active {
    background: #666666;
}

.section-how-container {
    height: 460px;
    margin-bottom: 15px;
    display: none;
    position: relative;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50% 100%;
}

.section-how-step-1 {
    background-image: url('/img/step-1.png');
}

.section-how-step-2 {
    background-image: url('/img/step-2.png');
}

.section-how-step-3 {
    background-image: url('/img/step-3.png');
}

.section-how-step-4 {
    background-image: url('/img/step-4.png');
}

.section-how-text {
    max-width: 47%;
}

.section-how-btn {
    height: 60px;
    max-width: 175px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
    background: none;
    border: 1px solid #000000;
}

.col-bla {
    height: 60px;
    max-width: 175px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: center;
    color: #FFFFFF;
}

.section-how-btn-set {
    position: absolute;
    bottom: 0;
    left: 0;
}

.section-about-mobile {
    display: none;
}

.section-how-container:target {
    display: block;
    outline: none;
}

/* Faq 1920px */
.section-faq-list {
    padding-left: 0;
    margin: 0;
}

.section-faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    border-top: 1px solid #CACACA;
}

.section-faq-item:last-child {
    border-bottom: 1px solid #CACACA;
}

.section-faq-item:hover {
    border-top: 1px solid #FF9900;
    color: #FF9900;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.section-faq-item:hover + .section-faq-item {
    border-top: 1px solid #FF9900;
}

.section-faq-item:hover:last-child {
    border-bottom: 1px solid #FF9900;
}

.faq-svg {
    cursor: pointer;
}

.faq-svg:active {
    transform: rotate(90deg);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

/* Footer 1920px */
.footer {
    background: #000000;
}

.footer-container {
    min-height: 594px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.footer-left {
    width: 252px;
    min-height: 494px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-list {
    margin-top: 20px;
    padding-left: 0;
}

.footer-item {
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

.footer-item:hover {
    color: #FF9900;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.footer-link:focus {
    outline: 2px solid #FF9900;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.footer-item:active {
    color: #E1670E;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.footer-social-list {
    margin: 0;
    padding-left: 0;
    display: flex;
}

.footer-social-item {
    margin-right: 20px;
}

.footer-center {
    margin-left: 45px;
    margin-right: 45px;
}

.footer-form {
    width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin-bottom: 25px;
    padding-left: 24px;
    padding-right: 24px;
    color: #CACACA;
    background-color: #414141;
    border: none;
    border-radius: 16px;
}

.footer-input::placeholder {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.footer-input:hover,
.footer-input:active {
    background-color: #666666;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.footer-input:focus {
    outline: 1px soolid #FFFFFF;
}

.footer-btn {
    width: 269px;
    height: 58px;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 16px;
}

.footer-input-last {
    height: 150px;
    padding-top: 14px;
    padding-bottom: 14px;
    resize: none;
    overflow: hidden;
}

.footer-right {
    max-width: 363px;
    max-height: 320px;   
}

.footer-title {
    color: #FFF;
    margin-top: 0;
    margin-bottom: 25px;
}

.footer-description {
    color: #FFF;
}

@media (max-width: 1024px) {
    body {
        max-width: 1024px;
    }

    .container {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Header 1024px */
    .header-logo {
        width: 150px;
        height: 48px;
    }

    .header-nav {
        display: none;
    }

    .burger {
        display: block;
    }

    .header-search {
        margin-left: 0;
    }

    /* Hero 1024px */
    .title {
        margin-bottom: 16px;
    }

    .section-hero-title {
        margin-bottom: 24px;
        font-weight: 800;
        font-size: 60px;
        line-height: 73.14px;
    }

    .section-hero-block {
        height: 100%;
        margin-top: 40px;
        padding: 160px 77px 160px 77px;
    }

    .section-hero-description {
        margin-bottom: 60px;
        margin-right: 110px;
        font-size: 20px;
        line-height: 24.38px;
    }

    .section-hero-backgraund {
        background-image: url('/img/hero-img-1024.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* About 1024px */
    .section-about-description-main {
        padding-right: 0;
    }

    .section-about-block {
        margin-top: 60px;
        display: block;
    }

    .section-about-big {
        width: 100%;
        height: 640px;
        margin-bottom: 32px;
    }

    .section-about-description-big {
        margin: 34px 40px;
    }

    .section-about-small {
        width: 100%;
        margin-left: 0;
        height: 640px;
    }

    .section-about-elem {
        height: 295px;
        padding: 65px 155px 65px 317px;
        box-sizing: border-box;
    }

    .section-about-description-small {
        padding-right: 20px;
    }

    .frame16,
    .frame12 {
        background-position: 77px 65px;
    }
    
    /* How 1024px */
    .section-how {
        margin-bottom: 80px;
    }

    .section-how-list {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section-how-container {
        min-height: 689px;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 437px 100%;
    }

    .section-how-step-1 {
        background-image: url('/img/step-1-1024.png');
    }
    
    .section-how-step-2 {
        background-image: url('/img/step-2-1024.png');
    }
    
    .section-how-step-3 {
        background-image: url('/img/step-3-1024.png');
    }
    
    .section-how-step-4 {
        background-image: url('/img/step-4-1024.png');
    }

    .section-how-text {
        max-width: 47%;
    }

    /* Faq 1024px */
    .section-faq-list {
        margin-top: 32px;
    }

    .section-faq-item {
        padding-top: 39px;
        padding-bottom: 39px;
        font-size: 20px;
    }

    .section-faq-item:last-child {
        border-bottom: 1px solid #CACACA;
    }

    .section-faq-item:hover {
        border-top: 1px solid #FF9900;
        border-bottom: 1px solid #FF9900;
        color: #FF9900;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    /* Footer 1024px */
    .footer-right {
        display: none;
    }

    .footer-center {
        width: 541px;
        margin-left: auto;
        margin-right: 0;
    }
    
    .footer-form {
        width: 541px;
    }

    .footer-input {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        max-width: 768px;
    }

    /* Hero 768px */
    .section-hero-block {
        padding: 160px 40px 160px 40px;
    }

    .section-hero-title {
        margin-bottom: 24px;
        font-size: 50px;
        line-height: 60.95px;
    }
    
    .section-hero-backgraund {
        background-image: url('/img/hero-img-768.png');
        background-size: 100% 100%;
    }

    .section-hero-description {
        margin-right: 0;
        font-size: 18px;
        line-height: 21.94px;
        font-weight: 700px;
    }

    /* About 768px */
    .section-about {
        margin-bottom: 80px;
    }

    .section-about-big {
        width: 100%;
        height: 650px;
        min-height: 640px;
        margin-bottom: 32px;
        background-image: url('/img/worker-768.png');
    }

    .section-about-btn {
        margin-right: 40px;
        margin-left: 35px;
        width: 175px;
    }

    .section-about-small {
        width: 100%;
        margin-left: 0;
        height: 502px !important;
    }

    .section-about-elem {
        height: 235px;
        padding: 35px 48px;
        padding-left: 170px;
    }

    .section-about-description-small {
        padding-right: 30px;
    }

    .frame16,
    .frame12 {
        background-position: 40px center;
        background-size: 114px 99px;
    }
    
    /* How 768px */
    .section-how-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section-how-item {
        margin-right: 0;
    }

    .section-how-container {
        min-height: 100%;
        padding-top: 284px;
        display: block;
        background-size: 100% 284px;
    }

    .section-how-step-1 {
        background-image: url('/img/step-1-798.png');
    }
    
    .section-how-step-2 {
        background-image: url('/img/step-2-798.png');
    }
    
    .section-how-step-3 {
        background-image: url('/img/step-3-798.png');
    }
    
    .section-how-step-4 {
        background-image: url('/img/step-4-798.png');
    }

    .title-small {
        margin-top: 0;
    }

    .section-how-text {
        max-width: 100%;
        margin-top: 8px;
    }

    .section-how-btn-set {
        margin-top: 25px;
    }

    /* Footer 768px */
    .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .footer-center {
        margin-left: 0;
        order: 1;
    }

    .footer-left {
        min-height: auto;
        margin-top: 50px;
        order: 2;
        display: block;
    }

    .footer-list {
        display: none;
    }
}

@media (max-width: 320px) {
    :root {
        --border-radius: 16px;
        --btn-radius: 8px;
    }

    body {
        max-width: 320px;
    }

    .container {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Header 320px */
    .header-container,
    .header {
        height: 69px;
    }

    .header-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Hero 320px */
    .section-hero-backgraund {
        background-image: url('/img/hero-img-320.png');
    }

    .section-hero {
        margin-top: 30px;
    }

    .section-hero-block {
        margin-top: 30px;
        padding: 60px 21px 59px 22px;
    }

    .section-hero-title {
        margin-bottom: 6px;
        text-align: center;
        font-size: 20px;
        line-height: 24.38px;
        max-width: none
    }

    .section-hero-description {
        margin-bottom: 32px;
        font-size: 12px;
        line-height: 14.63px;
        text-align: center;
        max-width:  none;
    }

    .btn {
        margin-left: 42px;
        margin-right: 43px;
        width: 162px;
        height: 41px;
        font-size: 12px;
        border-radius: var(--btn-radius);
        text-align: center;
    }

    /* About 320px */
    .section-about {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .title {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 29.26px;
        margin-bottom: 16px;
    }

    .description {
        font-size: 14px;
        line-height: 28px;
    }

    .section-about-block {
        margin-top: 0;
    }
    
    .section-about-block {
        display: none;
    }

    .section-about-mobile {
        margin-top: 14px;
        display: flex;
        flex-direction: column;
    }

    .section-about-list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .section-about-description-mobile {
        margin-top: 8px;
        margin-bottom: 0;
        font-style: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    .section-about-btn {
        margin: 0;
    }

    .section-about-btn {
        width: 162px;
        height: 39px;
        margin-top: 8px;
        color: #FF9900;
        font-size: 12px;
        font-weight: 700;
        border-radius: 8px;
        border: 2px solid #FF9900;
    }

    .section-about-btn:focus,
    .section-about-btn:active {
        color: #FFFFFF;
        transition-duration: 0.1s;
    }

    .section-about-mobile-second,
    .section-about-mobile-third {
        margin-top: 32px;
        padding-top: 61px;
        background-image: url("/img/Frame12.svg");
        background-size: 64px 49px;
        background-position: top left;
        background-repeat: no-repeat;
    }

    .section-about-mobile-third {
        background-image: url("/img/Frame16.svg");
    }

    .title-small {
        font-style: 18px;
        font-weight: 500;
        line-height: 21.94px;
    }
    
    /* How 320px */
    .section-how {
        margin-bottom: 60px;
    }

    .section-how-container {
        padding-top: 176px;
    }

    .section-how-list {
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .section-how-container {
        height: auto;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 290px 160px;
    }

    .section-how-step-1 {
        background-image: url('/img/step-1-320.png');
    }
    
    .section-how-step-2 {
        background-image: url('/img/step-2-320.png');
    }
    
    .section-how-step-3 {
        background-image: url('/img/step-3-320.png');
    }
    
    .section-how-step-4 {
        background-image: url('/img/step-4-320.png');
    }

    .section-how-btn-set{
        display: flex;
        justify-content: space-between;
    }

    .col-bla,
    .section-how-btn {
        margin: 0;
        padding: 0;
        height: 39px;
        font-size: 12px;
        line-height: 14.63px;
        width: 162px;
        font-weight: 700;
    }

    .section-how-btn {
        width: 118px;
        font-weight: 400;
        margin-left: 10px;
    }

    /* Faq 320px */
    .section-faq-list {
        margin-top: 0;
    }

    .section-faq-item {
        padding-top: 30px;
        padding-bottom: 30px;
        font-style: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    .faq-svg {
        width: 30px;
        height: 30px;
    }

    .section-faq-text {
        max-width: 237px;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    /* Footer 320px */
    .footer-container {
        max-width: none;
        margin-top: 60px;
        padding-top: 33px;
        padding-bottom: 30px;
    }

    .footer-center {
        max-width: 100%;
        padding-top: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid #414141;
    }

    .footer-form {
        width: 100%;
    }

    .footer-input {
        height: 60px;
        padding: 25px;
        line-height: 32px;
    }

    .footer-input-last {
        height: 290px;
    }

    .footer-left {
        margin-top: 16px;
        width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        width: 131px;
        height: 42px;
        margin-bottom: 16px;
    }

    .footer-social-img {
        height: 40px;
        width: 40px;
    }
}